include ../little-squares.jade
	table
		tr
			td= 'ease'
			td
				.elem
		tr
			td= 'cubic-bezier(0.60, -0.50, 1.00, 1.00)'
			td
				.elem
		tr
			td= 'cubic-bezier(0.50, -0.50, 0.50, 1.50)'
			td
				.elem