table {
	background-color: #FFFFFF;
	color: #000000;
	font-size: 0.7em !important;
}

table th {
	font-weight: bold !important;
}

table td, table th {
	border-bottom: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
}

table tr:last-child td {
	border-bottom: none !important;
}

table td:last-child, table th:last-child {
	border-right: none !important;
}

table td {
	vertical-align: top !important;
	/*border: 1px solid #000000 !important;*/
	padding-left: .3em !important;
}

table img {
	border: none !important;
	box-shadow: none !important;
}

ul.cross {
	list-style: url("images/cross.png");
}

ul.ok {
	list-style: url("images/ok.png");
}

.reveal .ok-icon {
	width: 22px;
	height: 22px;
	background-image: url("images/ok.png");
	display: inline-block;
	margin: 0 15px 0 5px;
}