include ../little-squares.jade
	table
		tbody
			tr
				td= 'normal'
				td
					.elem
			tr
				td= 'reverse'
				td
					.elem
			tr
				td= 'alternate'
				td
					.elem
			tr
				td= 'alternate-reverse'
				td
					.elem