.reveal pre {
  margin: 0 auto;
  box-shadow: none;
}

.reveal pre.wide {
  width: 100%;
}


.reveal .multicolumn {
  -moz-column-gap: 50%;
  -webkit-column-gap: 50%;
  column-gap: 50%;
  width: 100%;
}

.reveal .multicolumn.two {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

.reveal .multicolumn.three {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}

.reveal .multicolumn.four {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
}